# Windows
[Dd]esktop.ini
Thumbs.db
$RECYCLE.BIN/

# macOS
.DS_Store
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes

# Node.js
node_modules/
1.增加分享功能，可以不添加信条码，直接分享给好友。
 2.增加双击删除草稿和已完成的信条。
3.完善帮助页面
  4.增加云调用检测违禁词汇，保障发布信息安全
5.（删除夜间模式设定）
